---
layout: base.njk
title: Game of the Year | FAKE RONJAN!!
permalink: /video-games/
---

<h1>Game of the Year</h1>
<h3>1990 - present, may contradict rankings posts</h3>
<p class="methodology"><em>1990 - 2012: Winners and runners-up were chosen retroactively as best as I can recall based on what I would have awarded at the time<br/>2013 - 2018: Winners were chosen at the time on gaming message boards or old websites, while runners-up were chosen retroactively<br/>2019 - present: Winners and runners-up were chosen at the time in a post on this site</em></p>
<div style="overflow-x:auto"><table class="goty-table">
<thead><tr><th>Year</th><th>Winner</th><th>Runner-up</th></tr></thead>
<tbody>
<tr><td>1990</td><td><a href="/blog/fr-top-10-mario-games/"><em>Super Mario Bros. 3</em></a></td><td><em>Teenage Mutant Ninja Turtles II: The Arcade Game</em></td></tr>
<tr><td>1991</td><td><a href="/blog/fr-top-10-mario-games/"><em>Super Mario World</em></a></td><td><em>F-Zero</em></td></tr>
<tr><td>1992</td><td><em>Street Fighter II</em></td><td><em>John Madden Football ‘93</em></td></tr>
<tr><td>1993</td><td><em>Street Fighter II Turbo</em></td><td><a href="/blog/fr-tecmo-super-nba-basketball-a-mini-tribute/"><em>Tecmo Super NBA Basketball</em></a></td></tr>
<tr><td>1994</td><td><a href="/blog/fr-the-best-music-in-donkey-kong-country/"><em>Donkey Kong Country</em></a></td><td><em>Super Street Fighter II: The New Challengers</em></td></tr>
<tr><td>1995</td><td><a href="/blog/fr-the-best-music-in-donkey-kong-country/"><em>Donkey Kong Country 2: Diddy’s Kong Quest</em></a></td><td><em>Super Mario World 2: Yoshi’s Island</em></td></tr>
<tr><td>1996</td><td><a href="/blog/fr-top-10-mario-games/"><em>Super Mario 64</em></a></td><td><a href="/blog/fr-top-10-mario-games/"><em>Super Mario RPG: Legend of the Seven Stars</em></a></td></tr>
<tr><td>1997</td><td><em>Star Fox 64</em></td><td><em>Goldeneye 007</em></td></tr>
<tr><td>1998</td><td><em>Banjo-Kazooie</em></td><td><a href="/blog/fr-my-top-10-zelda-games/"><em>The Legend of Zelda: Ocarina of Time</em></a></td></tr>
<tr><td>1999</td><td><em>NFL Blitz 2000</em></td><td><a href="/blog/fr-the-best-music-in-donkey-kong-country/"><em>Donkey Kong 64</em></a></td></tr>
<tr class="decade-row"><td>1990s</td><td colspan="2"><a href="/blog/fr-the-best-music-in-donkey-kong-country/"><em>Donkey Kong Country</em></a></td></tr>
<tr><td>2000</td><td><em>NHL 2001</em></td><td><em>Madden NFL 2001</em></td></tr>
<tr><td>2001</td><td><em>Klonoa 2: Lunatea’s Veil</em></td><td><em>Jak and Daxter: The Precursor Legacy</em></td></tr>
<tr><td>2002</td><td><em>NCAA Football 2003</em></td><td><em>NBA Live 2003</em></td></tr>
<tr><td>2003</td><td><a href="/blog/fr-my-top-10-zelda-games/"><em>The Legend of Zelda: The Wind Waker</em></a></td><td><em>Grand Theft Auto: Vice City</em></td></tr>
<tr><td>2004</td><td><em>ESPN NFL 2K5</em></td><td><a href="/blog/fr-top-10-mario-games/"><em>Paper Mario: The Thousand Year Door</em></a></td></tr>
<tr><td>2005</td><td><em>MVP Baseball 2005</em></td><td><em>Mario Kart DS</em></td></tr>
<tr><td><a href="/blog/ua-lets-talk-game-of-the-years/">2006</a></td><td><em>Elite Beat Agents</em></td><td><em>NBA 2K7</em></td></tr>
<tr><td><a href="/blog/ua-lets-talk-game-of-the-years/">2007</a></td><td><a href="/blog/fr-top-10-mario-games/"><em>Super Mario Galaxy</em></a></td><td><em>Rock Band</em></td></tr>
<tr><td><a href="/blog/ua-lets-talk-game-of-the-years/">2008</a></td><td><em>LittleBigPlanet</em></td><td><em>Burnout Paradise</em></td></tr>
<tr><td><a href="/blog/ua-lets-talk-game-of-the-years/">2009</a></td><td><em>Punch-Out!! </em></td><td><em>Street Fighter IV</em></td></tr>
<tr class="decade-row"><td>2000s</td><td colspan="2"><em>ESPN NFL 2K5</em></td></tr>
<tr><td><a href="/blog/ua-lets-talk-game-of-the-years/">2010</a></td><td><em>Heavy Rain</em></td><td><em>Super Meat Boy</em></td></tr>
<tr><td><a href="/blog/ua-lets-talk-game-of-the-years/">2011</a></td><td><em>Uncharted 3: Drake’s Deception</em></td><td><em>Mortal Kombat</em></td></tr>
<tr><td><a href="/blog/ua-lets-talk-game-of-the-years/">2012</a></td><td><em>The Walking Dead</em></td><td><em>Mass Effect 3</em></td></tr>
<tr><td><a href="/blog/ua-lets-talk-game-of-the-years/">2013</a></td><td><a href="/blog/fr-my-top-10-zelda-games/"><em>The Legend of Zelda: A Link Between Worlds</em></a></td><td><em>Rayman Legends</em></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2013.jpg" alt="The Master Sword is at rest once again" loading="lazy"></div><p>Perfectly captures and modernizes the essence of classic Zelda by bringing the emphasis back to exploration. No one can really pull off "moments" with just the right touch the way Nintendo can, like when you get the Master Sword and you're rewarded with a fanfare and remixed Hyrule overworld theme. I had chills. The game's pacing kept me going, and I'm sad that it's over.</p></div></td></tr>
<tr><td><a href="/blog/ua-lets-talk-game-of-the-years/">2014</a></td><td><em>Valiant Hearts</em></td><td><a href="/blog/fr-my-favorite-rpgs/"><em>Child of Light</em></a></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2014.jpeg" alt="War makes men mad" loading="lazy"></div><p>I feel like this game was designed for people like me: gameplay that doesn't trivialize or glamorize war; a small, focused story rather than an epic one; characters that have real lives that the war impacted. In today's landscape where games without combat or murder are described as having "no gameplay", I will always be thankful that someone tried something like this.</p></div></td></tr>
<tr><td><a href="/blog/ua-lets-talk-game-of-the-years/">2015</a></td><td><a href="/blog/fr-top-10-mario-games/"><em>Super Mario Maker</em></a></td><td><em>Life is Strange</em></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2015.png" alt="My most played level" loading="lazy"></div><p>This is a game in reality that I literally dreamed about as a child, and I can't put it down. The community continues to find new ways to make Mario fun, inventive, hilarious, challenging, and even poignant. I'll be playing this one for years. It's the peak of crowdsourced level design creativity.</p></div></td></tr>
<tr><td><a href="/blog/ua-game-of-the-year-2016-edition/">2016</a></td><td><em>Pokémon Go  </em></td><td><em>Uncharted 4: A Thief’s End</em></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2016.jpg" alt="Jigglypuff conquers the Washington Monument" loading="lazy"></div><p>This may seem like a ridiculous choice to fans of "real" games, but nothing made me smile this year like <em>Pokémon Go</em> did. Despite lacking any meaningful mechanics, and despite having a leveling system that grinds to a halt after level 20, I kept coming back this year. And with new Pokémon now being added to the mix, I suspect I'll keep up with it.</p></div></td></tr>
<tr><td><a href="/blog/ua-nintendos-odyssey-breath-of-fresh-air/">2017</a></td><td><a href="/blog/fr-top-10-mario-games/"><em>Super Mario Odyssey</em></a></td><td><a href="/blog/fr-my-top-10-zelda-games/"><em>The Legend of Zelda: Breath of the Wild</em></a></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2017.jpg" alt="An all-time favorite gaming moment" loading="lazy"></div><p>Mario's latest adventure joins <em>Super Mario World</em> and <em>Super Mario Galaxy</em> in my personal Mario Hall of Fame. While the entirety of <em>Super Mario Odyssey</em> was sheer concentrated joy, nothing prepared me for the exhilarating New Donk City festival. This love letter to Mario's history is so earnest and so well-executed that it's one of my all time favorite moments in gaming, period. It's perfect.</p></div></td></tr>
<tr><td>2018</td><td><a href="/blog/fr-january-25/"><em>Celeste</em></a></td><td><em>Octopath Traveler</em></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2018.jpg" alt="What a rush" loading="lazy"></div><p>You keep climbing, even when you have died hundreds of times, are feeling exhausted, and are considering giving up. Finally, you reach the home stretch. The game starts counting down the checkpoints for you, your heart is pounding, and you make it. You reach the top and you feel the greatest rush possible. And all you want to do is bask in the glory of your accomplishment forever.</p></div></td></tr>
<tr><td><a href="/blog/fr-game-of-the-year-game-of-the-decade/">2019</a></td><td><a href="/blog/fr-my-top-10-zelda-games/"><em>The Legend of Zelda: Link’s Awakening</em></a></td><td><a href="/blog/fr-my-top-10-zelda-games/"><em>Cadence of Hyrule</em></a></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2019.jpeg" alt="I miss Koholint" loading="lazy"></div><p>I wasn’t ready to say goodbye to Koholint island. It’s weird, it’s atmospheric, and it hooked me with its ephemeral theme. The bite-sized overworld and old-school dungeon design were exactly what I was looking for, especially the final stellar hours with Eagle Tower and Turtle Rock. I’ll be playing this one again, and I can’t wait for the next 2D Zelda - whether it be an original or a remake.</p></div></td></tr>
<tr class="decade-row"><td><a href="/blog/fr-game-of-the-year-game-of-the-decade/">2010s</a></td><td colspan="2"><a href="/blog/fr-top-10-mario-games/"><em>Super Mario Maker 2</em></a></td></tr>
<tr><td><a href="/blog/fr-game-of-the-year-2020/">2020</a></td><td><em>Animal Crossing: New Horizons</em></td><td><em>Retro Bowl</em></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2020.jpg" alt="My happy place" loading="lazy"></div><p><em>Animal Crossing: New Horizons</em> served both as something to do in quarantine and somewhere else to be when the world sucked. More than anything, this game gave us a reason to smile, to press on, to get through this pandemic to the other side. And even now, as I’ve gone from playing every day to checking in once a month, I relish the moments I had in <em>Animal Crossing</em> and will relish even more the ones to come.</p></div></td></tr>
<tr><td><a href="/blog/fr-game-of-the-year-2021/">2021</a></td><td><em>What the Dub?!</em></td><td><em>Life is Strange: True Colors</em></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2021.png" alt="The party game is back" loading="lazy"></div><p>A year into pandemic life, with Zoom fatigue taking over, I sorely needed a game like this, so I downloaded it and played it with as many friend circles as I could - both in person and online. And it was pure magic. No matter who played, it was a great time. <em>What the Dub?!</em> reinforced the power of human connection, of humor in the darkest of times, of sheer silliness. And for that reason, it makes the list.</p></div></td></tr>
<tr><td><a href="/blog/fr-game-of-the-year-2022/">2022</a></td><td><em>Stray</em></td><td><em>Quordle</em></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2022.png" alt="Everybody wants to be a cat" loading="lazy"></div><p><em>Stray</em> is basically the perfect combination of <em>Uncharted</em>’s vertical world exploration, <em>The Last of Us</em>’s post-apocolyptic setting, and moments where a cat is just being a cat. This was a game that grabbed me from the outset with a gimmick, hooked me with its heart, and never outstayed its welcome. The six hours I spent playing <em>Stray</em> were among the best six hours I spent this year. I can’t wait to be a cat again.</p></div></td></tr>
<tr><td><a href="/blog/fr-game-of-the-year-2023/">2023</a></td><td><a href="/blog/fr-my-favorite-rpgs/"><em>Octopath Traveler II</em></a><em> </em></td><td><a href="/blog/fr-top-10-mario-games/"><em>Super Mario RPG</em></a></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2023.jpg" alt="Old school charm, new school design, pure magic" loading="lazy"></div><p>This game delivered me my favorite gaming memory of 2023: being coached by my nine-year-old son to take the final boss out. <em>Octopath Traveler II</em> delivered a transcendent audiovisual experience, it challenged me with its mechanics and boss encounters, it moved me through its memorable characters and intertwined story, and it bonded me with my son. I don’t think any other game in history has done that.</p></div></td></tr>
<tr><td><a href="/blog/fr-game-of-the-year-2024/">2024</a></td><td><em>Astro Bot </em></td><td><a href="/blog/fr-one-year-four-balatros/"><em>Balatro</em></a></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2024.jpg" alt="100%, baby!" loading="lazy"></div><p>This is the most joyful gaming experience seen in years, from the first moments on Sky Garden to multiple epic boss battles to riveting challenge levels and finally through to the best playable credits in gaming history. For every moment, my son was either by my side or in some cases playing the game himself. This was our experience. This was our accomplishment. And this is our game of the year.</p></div></td></tr>
<tr><td><a href="/blog/fr-game-of-the-year-2025/">2025</a></td><td><em>Clair Obscur: Expedition 33</em></td><td><em>Split Fiction</em></td></tr>
<tr class="commentary-row"><td colspan="3"><div class="commentary-cell"><div class="commentary-img"><img src="/img/video-games/2025.jpg" alt="For those who come after" loading="lazy"></div><p><em>Clair Obscur: Expedition 33</em> nailed everything it was going for. The concept. The world. The art. The exploration. The combat. The music. The characters. The story. The ending. It deserves all of the accolades it’s winning around the industry, and it represents a transformative piece of work for what games are and how they’re made. It’s an all time triumph and one of my all time favorite games.</p></div></td></tr>
</tbody>
</table></div>

<script>
(function () {
  var overlay = document.createElement("img");
  overlay.className = "img-preview-overlay";
  document.body.appendChild(overlay);
  document.querySelectorAll(".commentary-img").forEach(function (wrap) {
    var img = wrap.querySelector("img");
    wrap.addEventListener("mouseenter", function () {
      overlay.src = img.src;
      overlay.style.display = "block";
    });
    wrap.addEventListener("mouseleave", function () {
      overlay.style.display = "none";
    });
  });
})();
</script>
